<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.students.mapper.ClasshMapper">
    <resultMap id="userResultMap" type="com.example.students.domain.Classh">
        <id property="classId" column="class_id"/>
        <result property="classNumber" column="class_number"/>
        <result property="className" column="class_name"/>
        <result property="subject" column="subject"/>
        <result property="classState" column="class_state"/>
        <result property="classStateName" column="class_state_name"/>
        <result property="classStateTime" column="class_state_time"
                jdbcType="DATE" javaType="java.time.LocalDate"
                typeHandler="org.apache.ibatis.type.LocalDateTypeHandler"/>
        <result property="classOperator" column="class_operator"/>
        <result property="classOperator" column="class_operator_time"
                jdbcType="DATE" javaType="java.time.LocalDate"
                typeHandler="org.apache.ibatis.type.LocalDateTypeHandler"/>
        <association property="achievement" column="achievement_id" javaType="com.example.students.domain.Achievement" jdbcType="java.lang.Integer">
            <id property="achievementId" column="achievement_id"/>
            <result property="chinese" column="chinese"/>
            <result property="mathematics" column="mathematics"/>
            <result property="englishi" column="englishi"/>
            <result property="allScore" column="all_achievement"/>
            <result property="averageScore" column="average_score"/>
        </association>
        <association property="students" column="student_name" javaType="com.example.students.domain.Students" jdbcType="java.lang.String">
            <id property="studentId" column="student_id"/>
            <result property="studentName" column="student_name"/>
            <result property="classId" column="class_id"/>
        </association>
    </resultMap>
</mapper>
<!--成绩维护管理部分的查询条件=学生姓名，班级名称，平均成绩【范围条件，包含开始结束】，班级和姓名实现选择班级级联姓名，
查询结果=学生姓名，班级，科目，科目成绩，如果学生缺考，则该科成绩=NULL显示为空-->